@model InsuranceDLL.DataAccess.DomainModels.Policy

<div class="card">
    <div class="card-body">
        <h4 class="card-title">@Model.PolicyName</h4>
        <p class="card-text">@Model.PolicyDescription</p>
        <a href="#" class="card-link">@Model.BaseCost</a><br />
        <a asp-action="EditPolicy" asp-controller="Admin" asp-route-id="@Model.PolicyId" class="card-link">Edit  Policy</a>
    </div>
</div>
    