@model InuranceAssignmentAPD03.Models.ProfileViewModel


<form asp-action="DepositMoney" asp-controller="Account">
    <div class="jumbotron-fluid">
        <img src="~/StalkImage.png" class="rounded-circle img-thumbnail" alt="Profile Picture" /><br />
        <strong>@Model.user.Email<br/></strong><br /><br />
        <strong>Balance :</strong>  @Model.account.Balance
        <br/>
        <strong>Deposit :</strong> <input asp-for="depositAmount" />

        <input asp-for="user.UserId" type="hidden" />
        <input asp-for="profile.ProfileId" type="hidden" />
        <input asp-for="account.AccountId" type="hidden" />
        <input type="submit" name="name" value="Deposit"  class="btn btn-success"/>
    </div>
</form>